<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head"></head>
<meta charset="UTF-8" />
<body>
	<div class="wrapper">
		<header th:replace="layout/layout :: header"></header>
       	<div id="content">
       	
       		<div th:replace="layout/layout :: alert"></div>
        	
        	<nav th:replace="layout/layout :: navi"></nav>
            
            <div class="container text-center">
            	<h1 class="text-center text-primary mb-2" th:text="#{text.admin.users.header.title}"></h1>
            	
            	<form class="form-inline mb-3" th:action="@{/admin/search}" method="post">
					<input class="form-control mr-sm-2" type="text" name="username" required
						th:placeholder="#{text.admin.users.search.form.placeholder}"/>
					<button class="btn btn-outline-success" type="submit" 
						th:utext="#{text.admin.users.search.form.button}"></button>
				</form>
				
				<div class="row" th:if="${search != null}">
					<div class="col-3 mb-2" th:if="${!search.isEmpty()}"
						th:each="u: ${search}">
						<div class="card">
						  <div class="card-body">
						    <h5 class="card-title text-left" th:text="${u.username}"></h5>
						    <h6 class="card-subtitle mb-2 text-muted text-left" th:text="${u.name} + ' ' + ${u.lastname}"></h6>
						    
						    <form class="d-inline" method="post" th:action="@{/admin/lock/} + ${u.id}" th:if="${u.enabled}">
								<button class="btn btn-danger" type="submit"><i class="fas fa-lock"></i></button>
							</form>
							<form class="d-inline" method="post" th:action="@{/admin/unlock/} + ${u.id}" th:if="${!u.enabled}">
								<button class="btn btn-danger" type="submit"><i class="fas fa-lock-open"></i></button>
							</form>
							<button class="btn btn-primary" type="button" data-toggle="modal" data-target="#exampleModalCenter"><i class="fas fa-info-circle"></i></button>
						  </div>
						</div>
					</div>
					<div class="m-3" th:if="${search.isEmpty()}">
						<h4 th:text="#{text.admin.users.search.not.found}"></h4>
					</div>
				</div>
            	
            	<table class="table table-bordered table-striped">
					<thead class="thead-dark">
						<tr>
							<th class="text-center">ID</th>
							<th class="text-center" th:text="#{text.admin.users.table.name}"></th>
							<th class="text-center" th:text="#{text.admin.users.table.lastname}"></th>
							<th class="text-center" th:text="#{text.admin.users.table.username}"></th>
							<th class="text-center" th:text="#{text.admin.users.table.date}"></th>
							<th class="text-center" th:text="#{text.admin.users.table.status}"></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="user: ${users}">
							<td class="text-center" th:classappend="${!user.enabled} ? bg-danger" th:text="${user.id}"></td>
							<td class="text-center" th:text="${user.name}"></td>
							<td class="text-center" th:text="${user.lastname}"></td>
							<td class="text-center" th:text="${user.username}"></td>
							<td class="text-center" th:text="${user.createAt}"></td>
							<td class="text-center" th:classappend="${user.enabled} ? bg-success : bg-danger">
								<span class="text-white" th:if="${user.enabled}" th:text="#{text.admin.users.table.status.active}"></span>
								<span class="text-white" th:if="${!user.enabled}" th:text="#{text.admin.users.table.status.disactive}"></span>
							</td>
							<td class="text-center">
								<form class="d-inline" method="post" th:action="@{/admin/lock/} + ${user.id}" th:if="${user.enabled}">
									<button class="btn btn-danger" type="submit"><i class="fas fa-lock"></i></button>
								</form>
								<form class="d-inline" method="post" th:action="@{/admin/unlock/} + ${user.id}" th:if="${!user.enabled}">
									<button class="btn btn-danger" type="submit"><i class="fas fa-lock-open"></i></button>
								</form>
								<button name="info" th:value="${user.id}" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter"><i class="fas fa-info-circle"></i></button>
							</td>
						</tr>
					</tbody>
				</table>
				<nav th:replace="layout/paginator-nav :: paginator"></nav>
            	
            </div>
            
        </div>
     </div>
     
     <!-- Modal -->
		<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		  <div class="modal-dialog modal-dialog-centered" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLongTitle" th:utext="#{text.admin.users.info.title}"></h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
		      	<form action="/admin/users">
		      		<div class="form-group">
					    <label th:text="#{text.admin.users.info.name}"></label>
					    <input type="text" class="form-control" name="name" id="name" readonly>
					 </div>
		      		<div class="form-group">
					    <label th:text="#{text.admin.users.info.email}"></label>
					    <input type="text" class="form-control" name="email" id="email" readonly>
					 </div>
					 <div class="form-group">
					    <label th:text="#{text.admin.users.info.username}"></label>
					    <input type="text" class="form-control" name="username" id="username" readonly>
					 </div>
					 <div class="form-group">
					    <label th:text="#{text.admin.users.info.date}"></label>
					    <input type="text" class="form-control" name="date" id="date" readonly>
					 </div>
		      	</form>
		      </div>
		    </div>
		  </div>
		</div>
         
     <footer th:replace="layout/layout :: footer"></footer>
     <script type="text/javascript">
     	$("button[name='info']").click(function() {
     		let id = $(this).val();
     		//console.log(id);
     		$.ajax({
     			type: 'GET',
     			url: 'http://localhost:8080/admin/load_user/' + id,
     			success: function(res) {
     				console.log(res);
     				$("#name").val(res.name + " " + res.lastname);
     				$("#email").val(res.email);
     				$("#username").val(res.username);
     				$("#date").val(res.createAt);
     			}
     		});
     	})
     </script>
</body>
</html>