<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head"></head>
<meta charset="UTF-8" />
<body>
	<div class="wrapper">
		<header th:replace="layout/layout :: header"></header>
       	<div id="content">
       	
       		<div th:replace="layout/layout :: alert"></div>
        	
        	<nav th:replace="layout/layout :: navi"></nav>
            
            <div class="container">
            	<h1 class="text-center text-primary" th:text="${client.name}"></h1>
				
				<div class="invoices" th:if="${not #lists.isEmpty(client.invoices)}">
					<table class="table table-bordered table-striped my-4">
						<thead class="thead-dark">
							<tr>
								<th th:text="#{text.client.invoice.id}"></th>
								<th th:text="#{text.client.invoice.date}"></th>
								<th th:text="#{text.client.invoice.total}"></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="invoice: ${client.invoices}">
								<td th:text="${invoice.id}"></td>
								<td th:text="${invoice.createAt}"></td>
								<td th:text="${invoice.total} + ' €'"></td>
								<td>
									<a th:href="@{/}" class="btn btn-primary"
										th:utext="#{text.client.invoice.view}"></a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
	
				<div th:if="${#lists.isEmpty(client.invoices)}"
					class="alert alert-info my-4"
					th:text="#{text.client.invoice.no}"></div>
					
				<a th:href="@{/}" class="btn btn-secondary mt-2"
					th:utext="#{text.client.invoice.button.return}"></a>

			</div>
            
        </div>
     </div>
         
     <footer th:replace="layout/layout :: footer"></footer>
</body>
</html>