<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head"></head>
<meta charset="UTF-8" />
<body>
	<div class="wrapper">
		<header th:replace="layout/layout :: header"></header>
       	<div id="content">
       	
       		<div th:replace="layout/layout :: alert"></div>
        	
        	<nav th:replace="layout/layout :: navi"></nav>
            
            <div class="container">
            	<h1 class="text-center text-primary" sec:authorize="!isAuthenticated()" 
            		th:text="#{text.home.header.title}"></h1>
            	<h3 class="text-center text-primary" sec:authorize="!isAuthenticated()"
            		th:text="#{text.home.header.title.info}"></h3>
            	<h4 class="text-center text-primary" sec:authorize="!isAuthenticated()"
            		th:text="#{text.home.header.title.singup}"></h4>
            	<div class="text-center" sec:authorize="!isAuthenticated()">
            		<a th:href="@{/registry}" class="btn btn-warning" 
            			th:text="#{text.home.header.title.singup.link}"></a>
            	</div>
            	
            	<h1 class="text-center text-primary mb-2" sec:authorize="hasRole('ROLE_USER')"
            		th:text="#{text.user.home.header.title}"></h1>
            	<a class="btn btn-outline-primary my-3" th:href="@{'/user/add_business'}" sec:authorize="hasRole('ROLE_USER')"
            		th:utext="#{text.user.home.button}"></a>
            	<div class="row" sec:authorize="hasRole('ROLE_USER')">
	            	<div class="col-sm-12 col-md-6 col-lg-3 mb-2" th:if="${!user.enterprises.isEmpty()}" th:each="enterprise: ${user.enterprises}">
		            	<div class="card mr-1">
							<a th:href="@{/enterprise/} + ${enterprise.id}"><img class="card-img-top" 
								th:src="@{/img/view/} + ${enterprise.id}" th:alt="${enterprise.name}" /></a>
							<div class="card-body">
							  	<h5 class="" th:text="${enterprise.name}"></h5>
							</div>
						</div>
					</div>
					<h5 class="ml-3" th:if="${user.enterprises.isEmpty()}" th:text="#{text.user.home.no.enterprise}"></h5>
            	</div>
            	
            </div>
            
        </div>
     </div>
         
     <footer th:replace="layout/layout :: footer"></footer>
</body>
</html>