<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head"></head>
<meta charset="UTF-8" />
<body>
	<div class="wrapper">
		<header th:replace="layout/layout :: header"></header>
       	<div id="content">
       	
       		<div th:replace="layout/layout :: alert"></div>
        	
        	<nav th:replace="layout/layout :: navi"></nav>
            
            <div class="container">
            	<h1 class="text-center text-primary" th:text="#{text.client.home.title}"></h1>
            	
            	<a class="btn btn-outline-primary my-3" th:href="@{'/enterprise/'} + ${enterprise.id} + '/add_clients'"
            		th:utext="#{text.client.home.add.button}"></a>
            	
            	<table th:if="${!enterprise.clients.isEmpty()}" class="table table-bordered table-striped">
					<thead class="thead-dark">
						<tr>
							<th class="text-center" th:text="#{text.client.home.table.nif}"></th>
							<th class="text-center" th:text="#{text.client.home.table.name}"></th>
							<th class="text-center" th:text="#{text.client.home.table.date}"></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="client: ${clients}">
							<td class="text-center" th:text="${client.nif}"></td>
							<td class="text-center" th:text="${client.name}"></td>
							<td class="text-center" th:text="${client.createAt}"></td>
							<td class="text-center">
								<button class="btn btn-primary"><i class="fas fa-info-circle"></i></button>
								<button class="btn btn-primary"><i class="fas fa-file-invoice"></i></button>
								<button class="btn btn-warning"><i class="fas fa-user-edit"></i></button>
								<button class="btn btn-danger"><i class="fas fa-trash"></i></button>
							</td>
						</tr>
					</tbody>
				</table>
				<div th:if="${!enterprise.clients.isEmpty()}">
					<nav th:replace="layout/paginator-nav :: paginator"></nav>
				</div>
				
				<h4 th:if="${enterprise.clients.isEmpty()}">Ningún cliente registrado aún</h4>
            	
            </div>
            
        </div>
     </div>
         
     <footer th:replace="layout/layout :: footer"></footer>
</body>
</html>