<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head"></head>
<meta charset="UTF-8" />
<body>
	<div class="wrapper">
		<header th:replace="layout/layout :: header"></header>
       	<div id="content">
       	
       		<div th:replace="layout/layout :: alert"></div>
        	
        	<nav th:replace="layout/layout :: navi"></nav>
            
            <div class="container">
            	<h1 class="text-center text-primary" th:text="${enterprise.name}"></h1>
            	
            	<div class="row justify-content-center">
	            	<div class="card col-sm-12 col-lg-8">        	
		            	<div class="row justify-content-center pt-2">
		            		<div class="col-sm-12 col-md-3 col-lg-3">
		            			<img class="img-fluid" 
									th:src="@{/img/view/} + ${enterprise.id}" th:alt="${enterprise.name}">
		            		</div>
		            		<div class="col">
		            			<div class="row">
		            				<div class="col-sm-6 col-md-3 col-lg-6">
		            					<strong th:utext="#{text.enterprise.home.info.nif}"></strong>
		            					<p th:text="${enterprise.cif}"></p>
		            				</div>
		            				<div class="col-sm-6 col-md-3 col-lg-6">
		            					<strong th:utext="#{text.enterprise.home.info.name}"></strong>
		            					<p th:text="${enterprise.name}"></p>
		            				</div>
		            			</div>
		            			<div class="row">
		            				<div class="col-sm-6 col-md-3 col-lg-6">
		            					<strong th:utext="#{text.enterprise.home.info.address}"></strong>
		            					<p th:text="${enterprise.address} + ', ' + ${enterprise.town} + ', ' + ${enterprise.province}"></p>
		            				</div>
		            				<div class="col-sm-6 col-md-3 col-lg-6">
		            					<strong th:utext="#{text.enterprise.home.info.country}"></strong>
		            					<p th:text="${enterprise.country}"></p>
		            				</div>
		            			</div>
		            			<div class="row">
		            				<div class="col-sm-6 col-md-3 col-lg-6">
		            					<strong th:utext="#{text.enterprise.home.info.email}"></strong>
		            					<p th:text="${enterprise.email_contact}"></p>
		            				</div>
		            				<div class="col-sm-6 col-md-3 col-lg-6">
		            					<strong th:utext="#{text.enterprise.home.info.phone}"></strong>
		            					<p th:text="${enterprise.phone_contact}"></p>
		            				</div>
		            			</div>
		            		</div>
		            	</div>
	            	</div> 
	            	<div class="col-2">
	            		<button class="btn btn-warning" 
	            			data-toggle="modal" data-target="#exampleModalCenter"><i class="fas fa-cogs"></i></button>
	            	</div>
            	</div> 
            
            	<div class="row justify-content-center mt-2">
            		<div class="col-3">
            			<a th:href="@{'/admin/users'}">
	            			<div class="card bg-dark text-white">
							  <img class="card-img-top" th:src="@{'/images/clients.png'}" alt="users">
							  <div class="card-img-overlay">
							    <h5 class="card-title" th:text="#{text.enterprise.home.clients}"></h5>
							  </div>
							</div>
						</a>
            		</div>
            		<div class="col-3">
            			<a th:href="@{'/admin/users'}">
	            			<div class="card bg-dark text-white">
							  <img class="card-img-top" th:src="@{'/images/products.png'}" alt="users">
							  <div class="card-img-overlay">
							    <h5 class="card-title" th:text="#{text.enterprise.home.products}"></h5>
							  </div>
							</div>
						</a>
            		</div>
            	</div>
            </div>
            
        </div>
     </div>
     
		<!-- Modal -->
		<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		  <div class="modal-dialog modal-dialog-centered" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLongTitle"
		        	th:utext="#{text.enterprise.home.modal.setting.title}"></h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
		      	<h4 class="text-primary" th:text="#{text.enterprise.home.modal.setting.edit.title}"></h4>
		        <hr>
		        <form th:action="@{/enterprise/save}" method="post"
		        	th:object="${enterprise}" enctype="multipart/form-data">
		        	<div class="form-row">
						<div class="form-group col-md-6">
							<label for="cif" th:utext="#{text.user.add.enterprise.form.field.nif}"></label> <input type="text"
								class="form-control" id="cif" name="cif" th:field="*{cif}" required>
								<small class="form-text text-danger"
									th:if="${#fields.hasErrors('cif')}" th:errors="*{cif}"></small>
						</div>
						<div class="form-group col-md-6">
							<label for="name" th:utext="#{text.user.add.enterprise.form.field.name}"></label> <input
								type="text" class="form-control" id="name"
								name="name" th:field="*{name}" required>
								<small class="form-text text-danger"
									th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></small>
						</div>
					</div>
		        	<div class="form-row">
						<div class="form-group col-md-4">
							<label for="province" th:utext="#{text.user.add.enterprise.form.field.province}"></label> <input type="text"
								class="form-control" id="province" name="province" th:field="*{province}" required>
								<small class="form-text text-danger"
									th:if="${#fields.hasErrors('province')}" th:errors="*{province}"></small>
						</div>
						<div class="form-group col-md-4">
							<label for="town" th:utext="#{text.user.add.enterprise.form.field.town}"></label> <input
								type="text" class="form-control" id="town"
								name="town" th:field="*{town}" required>
								<small class="form-text text-danger"
									th:if="${#fields.hasErrors('town')}" th:errors="*{town}"></small>
						</div>
						<div class="form-group col-md-4">
							<label for="country" th:utext="#{text.user.add.enterprise.form.field.country}"></label> <input
								type="text" class="form-control" id="country"
								name="country" th:field="*{country}" required>
								<small class="form-text text-danger"
									th:if="${#fields.hasErrors('country')}" th:errors="*{country}"></small>
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col-md-4">
							<label for="address" th:utext="#{text.user.add.enterprise.form.field.address}"></label> <input
								type="text" class="form-control" id="address"
								name="address" th:field="*{address}" required>
								<small class="form-text text-danger"
									th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></small>
						</div>
						<div class="form-group col-md-4">
							<label for="email_contact" th:utext="#{text.user.add.enterprise.form.field.email}"></label> <input type="text"
								class="form-control" id="email_contact" name="email_contact" th:field="*{email_contact}" required>
								<small class="form-text text-danger"
									th:if="${#fields.hasErrors('email_contact')}" th:errors="*{email_contact}"></small>
						</div>
						<div class="form-group col-md-4">
							<label for="phone_contact" th:utext="#{text.user.add.enterprise.form.field.phone}"></label> <input
								type="text" class="form-control" id="phone_contact" th:field="*{phone_contact}"
								name="phone_contact" required>
								<small class="form-text text-danger"
									th:if="${#fields.hasErrors('phone_contact')}" th:errors="*{phone_contact}"></small>
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col-md-6">
								<label for="logo" th:utext="#{text.user.add.enterprise.form.field.logo}"></label> 
								<input type="file" class="form-control" id="logo" name="image">
									<small class="form-text text-danger"
										th:if="${#fields.hasErrors('logo')}" th:errors="*{logo}"></small>
						</div>
					</div>
					<div class="text-right">
						<button type="submit" class="btn btn-warning"
							th:text="#{text.user.add.enterprise.form.button.save}"></button>
					</div>
		        </form>
		        <hr>
		        <h4 class="text-danger" th:utext="#{text.enterprise.home.modal.setting.danger.title}"></h4>
		        <hr>
		        <form th:action="@{/enterprise/delete/} + ${enterprise.id}" method="post">
		        	<div class="text-right">
		        		<button class="btn btn-danger" type="submit"
		        			onclick="return confirm('Are you sure you want to delete?');"
		        			th:utext="#{text.enterprise.home.modal.setting.button.delete}"></button>
		        	</div>
		        </form>
		      </div>
		    </div>
		  </div>
		</div>
         
     <footer th:replace="layout/layout :: footer"></footer>
</body>
</html>