<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head"></head>
<meta charset="UTF-8" />
<body>
	<div class="wrapper">
		<header th:replace="layout/layout :: header"></header>
       	<div id="content">
       	
       		<div th:replace="layout/layout :: alert"></div>
        	
        	<nav th:replace="layout/layout :: navi"></nav>
            
            <div class="container">
            	<h1 class="text-center text-primary" th:text="#{text.product.home.title}"></h1>
            	
            	<a class="btn btn-outline-primary my-3" th:href="@{'/enterprise/'} + ${enterprise.id} + '/add_products'"
            		th:utext="#{text.product.home.add.button}"></a>
            		
            	<form class="form-inline mb-3" th:action="@{/enterprise/product/search}" method="post"
            		th:if="${!enterprise.products.isEmpty()}">
					<input class="form-control mr-sm-2" type="text" name="product" required
						th:placeholder="#{text.product.search.form.placeholder}"/>
					<input type="hidden" name="enterpriseId" th:value="${enterprise.id}" required />
					<button class="btn btn-outline-success" type="submit" 
						th:utext="#{text.product.search.form.button}"></button>
				</form>
				
				<div class="row" th:if="${search != null}">
					<div class="col-3 mb-2" th:if="${!search.isEmpty()}"
						th:each="p: ${search}">
						<div class="card">
						  <a th:href="@{/enterprise/} + ${enterprise.id} + '/edit_product/' + ${p.id}">
            				<img class="card-img-top" 
								th:src="@{/enterprise/product/img/view/} + ${p.id}" th:alt="${p.longName}" />
						</a>
						</div>
					</div>
					<div class="m-3" th:if="${search.isEmpty()}">
						<h4 th:text="#{text.product.search.not.found}"></h4>
					</div>
				</div>
            	
            	<div class="row justify-content-center mb-2">
            		<div class="card mr-2 col-3" th:each="product: ${products}">
            			<a th:href="@{/enterprise/} + ${enterprise.id} + '/edit_product/' + ${product.id}">
            				<img class="card-img-top" 
								th:src="@{/enterprise/product/img/view/} + ${product.id}" th:alt="${product.longName}" />
						</a>
					  <div class="card-body">
					    <h5 class="card-title" th:text="${product.shortName}"></h5>
					    <h6 class="card-subtitle mb-2 text-muted" th:text="${product.longName}"></h6>
					    <p><span th:text="${product.price}"></span> €</p>
					  </div>
					</div>
            	</div>
            	
            	<h4 th:if="${enterprise.products.isEmpty()}" 
					th:text="#{text.product.home.no.product}"></h4>
            	
            	<div th:if="${!enterprise.products.isEmpty()}">
					<nav th:replace="layout/paginator-nav :: paginator"></nav>
				</div>
            	
            </div>
            
        </div>
     </div>
         
     <footer th:replace="layout/layout :: footer"></footer>
</body>
</html>